# <font color='red'> *실습* </font> 
# <font color='red'> LISTS </font>

### 기억이 잘 안나는 부분은, 강의 설명 링크 참고하세요.

- [리스트 만드는 방법](https://vision-ai.tistory.com/entry/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EB%A6%AC%EC%8A%A4%ED%8A%B8-%EB%A7%8C%EB%93%A4%EA%B8%B0-Python-List-1)
- [리스트에 접근 (억세스) 하는 방법](https://vision-ai.tistory.com/entry/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EB%A6%AC%EC%8A%A4%ED%8A%B8-%EA%B0%92-python-list-value-access)
- [리스트에서 추출하기(슬라이싱) 콜론 사용방법](https://vision-ai.tistory.com/entry/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EB%A6%AC%EC%8A%A4%ED%8A%B8-%EC%BD%9C%EB%A1%A0-%EC%8A%AC%EB%9D%BC%EC%9D%B4%EC%8B%B1-List-Slicing)
- [리스트에 저장된 값 변경하기](https://vision-ai.tistory.com/entry/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EB%A6%AC%EC%8A%A4%ED%8A%B8-%EA%B0%92-%EB%B0%94%EA%BE%B8%EA%B8%B0)
- [리스트 항목 추가 삭제 하는 방법](https://vision-ai.tistory.com/entry/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EB%A6%AC%EC%8A%A4%ED%8A%B8-%ED%95%AD%EB%AA%A9-%EC%B6%94%EA%B0%80-%EC%82%AD%EC%A0%9C)
- [리스트 index 및 in 사용하기](https://vision-ai.tistory.com/entry/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EB%A6%AC%EC%8A%A4%ED%8A%B8-%EA%B2%B0%ED%95%A9-%EC%97%B0%EC%82%B0-index-in-%EC%9D%84-%EC%9D%B4%EC%9A%A9%ED%95%9C-%EA%B0%92-%ED%99%95%EC%9D%B8-%EB%B0%A9%EB%B2%95)
- [리스트에서 항목이 몇개나 들어있나 개수 세기](https://vision-ai.tistory.com/entry/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EB%A6%AC%EC%8A%A4%ED%8A%B8-count-%EC%99%80-len)
- [파이썬 리스트 정렬하기](https://vision-ai.tistory.com/entry/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EB%A6%AC%EC%8A%A4%ED%8A%B8-%ED%95%AD%EB%AA%A9-%EC%A0%95%EB%A0%AC%ED%95%98%EA%B8%B0-sorted-sort-reverse)
- [파이썬 문자열 함수](https://vision-ai.tistory.com/entry/파이썬-문자열-바꾸기-문자열-길이-문자열-위치-찾기-문자열-개수-파악)
- [파이썬 문자열 분리](https://vision-ai.tistory.com/entry/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EB%AC%B8%EC%9E%90%EC%97%B4-%ED%95%A8%EC%88%98-upper-lower-title-split-%EB%AC%B8%EC%9E%90%EC%97%B4-%EB%B6%84%EB%A6%AC%ED%95%98%EA%B8%B0?category=886717)

# <font color='blue'> 1. 첫번째, 두번째, 마지막 항목을 출력하세요. </font>

In [2]:
names = ["sara", "chanel", "mike", "ryan", "holy", "alex", "rob"]

In [3]:
print(names[0])

sara

In [4]:
print(names[1])

chanel

In [5]:
print(names[-1])

rob

# <font color='blue'> 2. 유저한테 새로운 이름을 입력받아서, 리스트의 맨 끝에 추가하세요 </font>

In [6]:
name = input()

Mike

In [7]:
print(name)

Mike

In [8]:
names.append(name)

In [9]:
print(names)

['sara', 'chanel', 'mike', 'ryan', 'holy', 'alex', 'rob', 'Mike']

# <font color='blue'> 3. 첫번째 항목부터 시작하여 3개 항목을 출력하기</font>

In [10]:
names

['sara', 'chanel', 'mike', 'ryan', 'holy', 'alex', 'rob', 'Mike']

In [11]:
names[ 0 : 2+1 ]

['sara', 'chanel', 'mike']

# <font color='blue'> 4. 리스트 맨 마지막 3개 항목을 출력하기</font>

In [12]:
names

['sara', 'chanel', 'mike', 'ryan', 'holy', 'alex', 'rob', 'Mike']

In [13]:
names[5 : 7 + 1]

['alex', 'rob', 'Mike']

In [14]:
names[ 5 : ]

['alex', 'rob', 'Mike']

In [15]:
names[ -3 : 7 + 1 ]

['alex', 'rob', 'Mike']

In [16]:
names[ -3 :]

['alex', 'rob', 'Mike']

# <font color='blue'> 5. 리스트에 mike 가 몇명이 있는지 출력하세요. </font>

In [17]:
names.count('mike')

1

In [18]:
names

['sara', 'chanel', 'mike', 'ryan', 'holy', 'alex', 'rob', 'Mike']

# <font color='blue'> 6. 리스트의 가장 첫번째에 harry 를 추가하세요. </font>

In [20]:
harry = 'harry'

In [21]:
names.insert(0, harry)

In [22]:
names

['harry', 'sara', 'chanel', 'mike', 'ryan', 'holy', 'alex', 'rob', 'Mike']

# <font color='blue'> 7. 다음을 출력 (1) SALLY, (2) SARA, SALLY, JOE (3) ALY </font>

In [23]:
my_list = ["Mitch", ["sara", "sally", "joe"], "peter", "aly"]

In [25]:
my_list[1][1]

'sally'

In [26]:
my_list[1]

['sara', 'sally', 'joe']

In [27]:
my_list[3]

'aly'

In [28]:
my_list[-1]

'aly'

# <font color='blue'> 8. 현재 리스트의 길이를 먼저 구하고, 자신의 이름을 맨 끝에 추가하세요. </font>

In [30]:
my_list = ["Mitch", ["sara", "sally", "joe"], "peter", "aly"]

In [31]:
len(my_list)

4

In [32]:
my_list.append('홍길동')

In [33]:
print(my_list)

['Mitch', ['sara', 'sally', 'joe'], 'peter', 'aly', '홍길동']

# <font color='blue'> 9. "peter" 를 리스트에서 제거하세요. </font>

In [34]:
my_list = ["Mitch", ["sara", "sally", "joe"], "peter", "aly"]

In [44]:
my_list.remove('peter')

In [45]:
print(my_list)

['Mitch', ['sara', 'sally', 'joe'], 'aly']

# <font color='blue'> 10. "sally" 를 리스트에서 제거하세요. </font>

In [47]:
my_list

['Mitch', ['sara', 'sally', 'joe'], 'aly']

In [49]:
del my_list[1][1]

In [50]:
print(my_list)

['Mitch', ['sara', 'joe'], 'aly']

In [51]:
my_list

['Mitch', ['sara', 'joe'], 'aly']

In [52]:
name = my_list[1][1]

In [53]:
print(name)

joe

In [55]:
upper_name = name.upper()

In [56]:
print(upper_name)

JOE

# <font color='blue'> 11. 오름차순으로 순서대로 정렬하세요. </font>

In [58]:
my_list = [50, 20, 30, 10, 40, 15, 45]

In [59]:
my_list.sort()

In [60]:
print(my_list)

[10, 15, 20, 30, 40, 45, 50]

# <font color='blue'> 12. 위 리스트를 내림차순으로 정렬하세요. </font>

In [61]:
my_list

[10, 15, 20, 30, 40, 45, 50]

In [62]:
my_list.sort(reverse=True)

In [63]:
print(my_list)

[50, 45, 40, 30, 20, 15, 10]

# <font color='blue'> 13. 리스트 안에, 리스트들이 들어 있습니다. 작은 리스트들의 맨 마지막 항목들만 뽑아서, 새로운 리스트를 만드세요. </font> 
- chocolate, potatoes, protein bar 를 뽑아내는 코드를 작성하고, 이들을 리스트로 만듭니다.

In [64]:
grocery_list = [['chips','jelly','chocolate'],['sweet potatoes','potatoes'],
                ['peanuts','protein bar']]

In [68]:
value1 = grocery_list[0][-1]

In [69]:
value2 = grocery_list[1][-1]

In [70]:
value3 = grocery_list[2][-1]

In [71]:
product_list = [ value1, value2, value3 ]

In [72]:
print(product_list)

['chocolate', 'potatoes', 'protein bar']

In [73]:
product_list = [ grocery_list[0][-1], grocery_list[1][-1], grocery_list[2][-1] ]

In [74]:
print(product_list)

['chocolate', 'potatoes', 'protein bar']

In [75]:
product_list = list()

In [77]:
product_list.append(grocery_list[0][-1])

In [78]:
product_list.append(grocery_list[1][-1])

In [79]:
product_list.append(grocery_list[2][-1])

In [80]:
print(product_list)

['chocolate', 'potatoes', 'protein bar']

# <font color='blue'> 14. 다음 문장을, 공백기준으로 잘라서, 리스트로 만드세요. 그리고 to 라는 단어가 몇개 인지 확인하세요. </font> 
- 예)   [ 'She', 'had', 'a', 'lot',,,,]
- 문자열 부분에서 배운 함수를 참고하세요

In [81]:
essay = '''"She had a lot of money. She was a generous woman. She was once poor. She understood what it was like. She wanted to help out. On Christmas day, she handed out food to the poor. She made the food herself. She put a turkey leg, a scoop of mash potatoes, and peas on a plate. She gave the plate to each homeless person she saw.

The homeless people loved her. One homeless man even gave her a penny. She said to keep it for himself. She decided to do more. She gave $50 to every homeless person she saw. She felt good."'''

In [82]:
essay_list = essay.split()

In [83]:
print(essay_list)

['"She', 'had', 'a', 'lot', 'of', 'money.', 'She', 'was', 'a', 'generous', 'woman.', 'She', 'was', 'once', 'poor.', 'She', 'understood', 'what', 'it', 'was', 'like.', 'She', 'wanted', 'to', 'help', 'out.', 'On', 'Christmas', 'day,', 'she', 'handed', 'out', 'food', 'to', 'the', 'poor.', 'She', 'made', 'the', 'food', 'herself.', 'She', 'put', 'a', 'turkey', 'leg,', 'a', 'scoop', 'of', 'mash', 'potatoes,', 'and', 'peas', 'on', 'a', 'plate.', 'She', 'gave', 'the', 'plate', 'to', 'each', 'homeless', 'person', 'she', 'saw.', 'The', 'homeless', 'people', 'loved', 'her.', 'One', 'homeless', 'man', 'even', 'gave', 'her', 'a', 'penny.', 'She', 'said', 'to', 'keep', 'it', 'for', 'himself.', 'She', 'decided', 'to', 'do', 'more.', 'She', 'gave', '$50', 'to', 'every', 'homeless', 'person', 'she', 'saw.', 'She', 'felt', 'good."']

In [84]:
essay_list.count('to')

6

# NOW YOU KNOW HOW LISTS WORK, KEEP IT UP!