# PYTHON PROGRAMMING

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

## 실습 1. CCTV_in_Seoul.csv 파일을 pandas 로 읽어오세요.
### encoding='utf-8' 옵션을 넣습니다.

In [2]:
CCTV_Seoul = pd.read_csv('CCTV_in_Seoul.csv', encoding='utf-8')

In [3]:
CCTV_Seoul.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

## 실습 2. 컬럼 중 "기관명" 컬럼명을 "구별" 로 이름을 바꾸세요.

In [4]:
CCTV_Seoul.rename( columns = { '기관명':'구별'  }  , inplace = True )

In [5]:
CCTV_Seoul.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

## 실습 3. population_in_Seoul.xls 파일을 읽으세요. 
### encoding='utf-8' 옵션을 넣습니다.

In [6]:
pop_Seoul = pd.read_excel('population_in_Seoul.xls', encoding='utf-8' )

In [7]:
pop_Seoul.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2017.1/4,합계,4202888,10197604,5000005,5197599,9926968,4871560,5055408,270636,128445,142191,2.36,1321458
3,2017.1/4,종로구,72654,162820,79675,83145,153589,75611,77978,9231,4064,5167,2.11,25425
4,2017.1/4,중구,59481,133240,65790,67450,124312,61656,62656,8928,4134,4794,2.09,20764

## 실습 4.population_in_Seoul.xls 파일을 읽으세요.
### header 는 3번째 row 로 사용할 것입니다. 따라서 header = 2  로 셋팅하세요.
### 엑셀파일의 컬럼은  B, D, G, J, N 만 사용할 것입니다.
### encoding='utf-8' 옵션을 넣습니다.

In [8]:
pop_Seoul = pd.read_excel('population_in_Seoul.xls', encoding='utf-8',
                         header=2,
                         usecols='B, D, G, J, N')

In [9]:
pop_Seoul.head()

   자치구           계        계.1       계.2   65세이상고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

## 실습 5-1. pop_Seoul 의 컬럼명을 모두 출력하세요.

In [10]:
print( pop_Seoul.columns )

Index(['자치구', '계', '계.1', '계.2', '65세이상고령자'], dtype='object')

## 실습 5-2. 컬럼명을 다음처럼 바꿉니다.
### 0번째는 '구별' , 1번째는 '인구수', 2번쨰는 '한국인', 3번째는 '외국인', 4번째는 '고령자'  로 rename

In [11]:
pop_Seoul.rename( columns= { '자치구':'구별', '계':'인구수', '계.1' :'한국인',
                           '계.2' : '외국인', '65세이상고령자' : '고령자'},
                inplace = True)

In [12]:
pop_Seoul.head()

    구별         인구수        한국인       외국인        고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

## 실습 6. CCTV 갯수가 가장 많은 순부터 적은 순으로 정렬한 후, 상위 20개만 화면에 보여주세요.
### sort_values 함수 사용하세요.

In [13]:
new_cctv = CCTV_Seoul.sort_values( by = '소계', ascending=False)

In [14]:
new_cctv.head(20)

      구별    소계  2013년도 이전  2014년  2015년  2016년
0    강남구  2780       1292    430    584    932
18   양천구  2034       1843    142     30    467
14   서초구  1930       1406    157    336    398
21   은평구  1873       1138    224    278    468
20   용산구  1624       1368    218    112    398
6    구로구  1561       1142    173    246    323
4    관악구  1496        846    260    390    613
16   성북구  1464       1009     78    360    204
10  동대문구  1294       1070     23    198    579
8    노원구  1265        542     57    451    516
11   동작구  1091        544    341    103    314
15   성동구  1062        730     91    241    265
7    금천구  1015        674     51    269    354
22   종로구  1002        464    314    211    630
13  서대문구   962        844     50     68    292
19  영등포구   904        495    214    195    373
3    강서구   884        388    258    184     81
1    강동구   773        379     99    155    377
2    강북구   748        369    120    138    204
5    광진구   707        573     78     53    174

In [15]:
CCTV_Seoul.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

## 실습 7. 최근 3년간 CCTV 증가율을 계산하여, dataframe 에 '최근증가율' 컬럼을 추가하세요.
### 증가율 계산  :  (2016 + 2015 + 2014) / 2013이전 * 100

In [16]:
CCTV_Seoul['최근증가율'] = ( CCTV_Seoul['2016년'] + CCTV_Seoul['2015년'] +
                     CCTV_Seoul['2014년'] ) / CCTV_Seoul['2013년도 이전'] * 100

In [17]:
CCTV_Seoul.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년       최근증가율
0  강남구  2780       1292    430    584    932  150.619195
1  강동구   773        379     99    155    377  166.490765
2  강북구   748        369    120    138    204  125.203252
3  강서구   884        388    258    184     81  134.793814
4  관악구  1496        846    260    390    613  149.290780

## 실습 8. 최근 3년간 CCTV 증가율이 가장 높은 순으로 5개의 구를 찾으세요.

In [18]:
sort_cctv = CCTV_Seoul.sort_values( by ='최근증가율', ascending=False)

In [19]:
sort_cctv.head(5)

     구별    소계  2013년도 이전  2014년  2015년  2016년       최근증가율
22  종로구  1002        464    314    211    630  248.922414
9   도봉구   485        238    159     42    386  246.638655
12  마포구   574        314    118    169    379  212.101911
8   노원구  1265        542     57    451    516  188.929889
1   강동구   773        379     99    155    377  166.490765

In [20]:
CCTV_Seoul.sort_values( by ='최근증가율', ascending=False).head(5)

     구별    소계  2013년도 이전  2014년  2015년  2016년       최근증가율
22  종로구  1002        464    314    211    630  248.922414
9   도봉구   485        238    159     42    386  246.638655
12  마포구   574        314    118    169    379  212.101911
8   노원구  1265        542     57    451    516  188.929889
1   강동구   773        379     99    155    377  166.490765

In [21]:
pop_Seoul.head()

    구별         인구수        한국인       외국인        고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

## 실습 9. 서울시의 인구 데이터 중, 가장 첫번째 로우(row) 는 필요 없으니, 삭제하세요.

In [23]:
pop_Seoul.drop( [ 0 ], axis = 0, inplace = True )

In [24]:
pop_Seoul.head()

    구별       인구수       한국인      외국인      고령자
1  종로구  162820.0  153589.0   9231.0  25425.0
2   중구  133240.0  124312.0   8928.0  20764.0
3  용산구  244203.0  229456.0  14747.0  36231.0
4  성동구  311244.0  303380.0   7864.0  39997.0
5  광진구  372164.0  357211.0  14953.0  42214.0

## 실습 9. 서울시의 인구 데이터 중, NaN이 있는지 확인하고, NaN이 있으면 해당 row를 삭제하세요.

## 실습 10. '외국인비율' 과 '고령자비율' 두개의 컬럼을 추가하세요.
### 외국인비율 = 외국인 수 / 인구수 * 100
### 고령자비율 = 고령자 수 / 인구수 * 100

## 실습 11. 외국인 대상으로 장사를 하려 합니다. 외국인이 가장 많은 구와, 외국인비율이 가장 높은 구를 각각 5개씩 찾으세요.

## 실습 12. 고령자 대상 마케팅을 구상 중입니다. 고령자가 가장 많은 구와, 고령자비율이 가장 높은 구를 각각 5개씩 찾으세요.

## 실습 13. CCTV 데이터와 인구 데이터 합치고 분석하기
### 아래 코드를 그대로 실행합니다.

## 실습 14. data_result 에서, 다음 4개의 컬럼을 모두 버려 버립니다.
### '2013년도 이전', 2014년', '2015년', '2016년'

## 실습 15-1. dara_result 의 인덱스를, '구별' 로 바꿔 줍니다.

## 실습 15-2. 이 데이터프레임을 csv 파일로 저장합니다.
### 파일명은, CCTV_result.csv 입니다.

## 실습 16. 상관 관계 분석에 대해서 알아봅니다.
### https://ko.wikipedia.org/wiki/%EC%83%81%EA%B4%80_%EB%B6%84%EC%84%9D
###  상관계수는 -1부터 1까지의 값을 갖는다.1일 때 완벽한 양의 상관관계가 되고, -1일 때 완벽한 음의 상관관계가 된다. 0이라면 별다른 상관관계가 없음을 의미한다.
###  상관계수가 0.1 이하면 관계가 없고, 0.3 이하면 약한관계 입니다

## 실습 17. CCTV의 갯수와 고령자 비율의 상관관계를 분석하세요.

### np.corrcoef 함수를 이용하면 됩니다.

## 실습 18. CCTV의 갯수와 외국인 비율의 상관관계를 분석하세요.

## 실습 19. CCTV의 갯수와 인구수의 상관관계를 분석하세요.

## 실습 20. 각 구의 CCTV의 갯수를 bar로 나타내세요.
### pandas dataframe.plot 함수 사용

In [ ]:
# 한글 그래프 처리 코드 실행
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

import platform

from matplotlib import font_manager, rc
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    path = "c:/Windows/Fonts/malgun.ttf"
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown system... sorry~~~~')

## 실습 21. 각 구의 CCTV의 갯수를, 먼저 소팅(큰순)한 후,  bar로 나타내세요.

## 실습 22. 인구 한명당 CCTV의 비율을 계산하고, 이를 각 구별로 CCTV비율이 얼마인지 bar로 나타내세요.

## 실습 23. 인구수와 CCTV갯수가 어떤 분포인지, scatter로 나타내세요.

## .실습 24. 인구수와 CCTV갯수가 약한 양의 관계가 있음을 파악했으니, 직선으로 표현하겠습니다.