# PYTHON PROGRAMMING FUNDAMENTALS

# 우리가 배울것 : 반복문 - Loop    
- For Loops
- Break a loop
- Continue statement
- Range 
- While Loops
- Nested loops
- List Comprehension

# <font color='blue'> 비가 오는 동안, 나는 막걸리를 계속 마시겠다. 비가 그치면, 그만 먹고 집에 갈래요.

### 실행 순서에 대한 문법을 배웁시다.

In [1]:
my_list = [11, 222, 30]

In [3]:
for i in my_list :
    print(i)
print('hello')

11
222
30
hello

# FOR LOOPS 
- 영어가 설명이 정확합니다. For loops are used for iterating over a sequence (a list, a tuple, a dictionary, a set, or a string).

- 한번에 하나의 항목만 가져와서, 원하는 대로 처리합니다.

## 리스트 데이터를 loop 돌면서 처리한다.

In [4]:
for value in my_list :
    print('hello')
    print(value + 3)

hello
14
hello
225
hello
33

## 문자열 데이터를 루프 돌면서 처리한다.

In [5]:
word = 'This is my cat.'

In [6]:
for letter in word :
    print(letter.upper())

T
H
I
S

I
S

M
Y

C
A
T
.

### 리스트를 루프 돈다.

In [7]:
numbers = [ 1, 2, 3, 4, 5, 6 ]

In [8]:
list_sum = 0

for number in numbers :
    list_sum = list_sum + number 
print(list_sum)

21

## 리스트의 인덱스값과, 매칭되어 저장되어있은 값을 함께 출력

In [9]:
my_list = ['apple', 'blueberries', 'mango', 'watermelon']

In [11]:
for i, value in enumerate(my_list) :
    print( i, value)

0 apple
1 blueberries
2 mango
3 watermelon

## 딕셔너리 데이터를 for 루프 : key

In [12]:
my_dict = { 'room' :'ballroom', 'weapon':'lead pipe', 'person':'Mike'  }

In [13]:
for i in my_dict :
    print(i)

room
weapon
person

In [14]:
my_dict

{'room': 'ballroom', 'weapon': 'lead pipe', 'person': 'Mike'}

In [17]:
my_dict.keys()

dict_keys(['room', 'weapon', 'person'])

In [18]:
my_dict.values()

dict_values(['ballroom', 'lead pipe', 'Mike'])

## 딕셔너리 value 값을 for 루프

In [19]:
for value in my_dict.values() :
    print(value)

ballroom
lead pipe
Mike

## 키 밸류를 튜플 로 프린트

In [20]:
for item in my_dict.items() :
    print(item)

('room', 'ballroom')
('weapon', 'lead pipe')
('person', 'Mike')

## 키, 밸류 값을 각각 가져와서 원하는 처리를 함

In [21]:
for key, value in my_dict.items():
    print(key, '는', value)

room 는 ballroom
weapon 는 lead pipe
person 는 Mike

# 결론은? 데이터가 나열되어 있는 것들(리스트 등등)은, for 를 통해 쉽게 원하는 값을 가져올 수 있다.

# BREAK A LOOP/CONTINUE          
## 코드 실행 순서를 바꿔보자     
- 자신을 감싸고 있는 루프의 { } 괄호를 벗어난다. break() is used to exit a for loop or a while loop
- 루프의 처음 조건으로 돌아간다. continue() is used to skip the current block, and return to the "for" or "while" statement.

## 누가?????      코드의 실행 순서가!!!!!!!!!!!!! 바뀐다!!!!!!!!!!!!!!!!!!!!!!!!!

In [22]:
my_list

['apple', 'blueberries', 'mango', 'watermelon']

In [24]:
for fruit in my_list :
    if fruit == 'mango' :
        break
    
    print(fruit)

apple
blueberries

In [26]:
numbers

[1, 2, 3, 4, 5, 6]

In [44]:
for i in numbers :
    if i % 2 == 0 :
        continue
    
    print(i)

6

# RANGE 함수
- range() 함수는, 숫자 **리스트**를 만들어 준다.
- range() 함수는,  인덱스가 0 부터 시작한다. 
- 레인지의 괄호 안에 적는 숫자 갯수만큼 만든다.  
- Example: range(0, 10) generates integers from 0 up to, but not including, 10.

In [29]:
result = range(100)

In [30]:
print(result)

range(0, 100)

In [31]:
result = list(result)

In [32]:
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [39]:
result = list(range(1, 20, 3))

In [40]:
print(result)

[1, 4, 7, 10, 13, 16, 19]

In [41]:
for i in range(1,51) :
    if i % 2 == 1:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

# WHILE LOOPS 
- While loop 는, 조건식을 만족하는 동안, 자신이 포함하는 문장들을 실행한다.

In [45]:
i = 0
while i <= 10 :
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9
10

## Infinite Loop : 무한루프

- ## 롯데리아에서 키오스크로 햄버거 주문할때, 유저가 버튼 누를때까지 화면은 계속 나오고 있다.
- ## 게임이 시작되고 나면, 유저가 화장실을 갔다와도 게임은 계속 진행되고 있다.

In [1]:
while True :
    string = input('문자를 입력하세요 :')
    
    if string == '0':
        break
    
    print('입력한 문자는 {} 입니다.'.format(string))

문자를 입력하세요 :addd
입력한 문자는 addd 입니다.
문자를 입력하세요 :0

# NESTED LOOPS
- 루프 안애 또 루프가 들어가는 경우.

In [2]:
for x in range(2, 10) :
    print(x, '단 입니다.')
    for y in range(1, 10) :
        print('{} X {} = {}'.format(x, y, x*y))

2 단 입니다.
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 단 입니다.
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 단 입니다.
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 단 입니다.
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 단 입니다.
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 단 입니다.
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 단 입니다.
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 단 입니다.
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

# LIST COMPREHENSION 
- 원본 리스트를 가지고, 다른 리스트를 만드는 방법 
- for 나 while 없이, loop 를 실행시키는 아름다운 방법

## 문법을 잘 봅시다.

In [3]:
my_list = [ 1, 2, 3, 4 ]

In [4]:
new_list = []
for i in my_list :
    new_list.append( i**2 )

In [5]:
print(new_list)

[1, 4, 9, 16]

In [6]:
my_list

[1, 2, 3, 4]

In [7]:
new_list = [ i**2 for i in my_list ]

In [8]:
print(new_list)

[1, 4, 9, 16]

### 1부터 10까지 숫자 중, 짝수만 빼서, 3승을 시킨 리스트

In [9]:
output_list = [ i**3  for i in range(1, 11) if i % 2 == 0  ]

In [10]:
print(output_list)

[8, 64, 216, 512, 1000]